.overlay { 
    z-index: 1000;
    display: block;
    
    width: auto;
    background-color: rgba(100, 100, 100, 0.5);
        color: white;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

.overlay-pointer { 
    z-index: 1000;
    display: block;
    max-width: 25%;
    font-family: 'PT Serif', serif;
    font-size: 0.85rem;
    line-height: 1.25rem;
    font-weight: 200;
    color: #C8FFA9;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 1.225rem;
    line-height: 1.75rem;
    font-weight: 400;
    margin: 0.25rem 0rem 0rem 0.25rem;
}


.wrapper {
    display: flex;
}
.lottie-container {
    background-color: #0E2221;
    z-index: 0;
    position: fixed;
    height: auto;
    top: 0;
}
.lottie-player {
    background-color: #0E2221;
    z-index: 0;
    height: auto;
    top: 0;
    margin: 20px auto;
    -webkit-mask-image: url("./../../assets/img/animation_mask.png");
    mask-image: url("./../../assets/img/animation_mask.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 97% 97%;
    mask-size: 97% 97%;
    mask-position: 50% 50%;
  }

.front {
    z-index: 30;
    position: fixed;
    width: auto;
    opacity:0.5;
    top: 0;
}
.back {
    z-index: 30;
    position: fixed;
    width: auto;
    opacity:0.5;
    top: 0;
}
.main {
    z-index: 0;
    position: fixed;
    top: 25px;
    min-width: 100vw;
    min-height: 150vh;
    opacity: 0.5;
}
.scrollDist {
    position: fixed;
    top: 50px;
    height:3000vh;
}

.loader-animation {
    position: fixed;
    z-index: 100;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pointerActiveSiteLottie {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -27%);
  }
  .pointerActiveSiteText {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(30%, 10%);
  }

  .pointerSlimLottie {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 20%) scaleX(-1);
  }
  .pointerSlimText {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: scaleX(-1) translate(0%, -100%) ;
  }

.pointerE198Lottie {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -60%) scaleX(-1) scaleY(-1);
}
.pointerE198Text {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: scaleY(-1) scaleX(-1) translate(-15%,-20%);
}

.up-arrow {
    z-index: 100;
    transform: scale(0.15,-0.15);
}