<div class="d-flex row justify-content-center align-items-center">
  <div class="col-lg-3 col-sm-10 text-center overlay">
    <h1>PROTEIN PHOSPHOTASE 2A </h1>
    <p>scroll down...</p>
  </div>
  <div class="col-lg-1"></div>
</div>

<div class="scrollDist"></div>

<!--
<div class = "main d-flex row">
  <img src="../../assets/img/pp2a_background.jpg" alt=""/>
</div>
-->


<div>
  <img src="../../assets/img/bubbles_C_focussed.png" class="front" height="2000vh" width="100vw" />
  <img src="../../assets/img/bubbles_C_defocussed.png" class="backdrop" height="2000vh" width="100vw"/>




<div  #lottieContainer class="row justify-content-start align-items-center min-vh-75">
  <div class="lottie-container col-lg-10 col-sm-12"style="position: fixed; height: 75%"> 
    <ng-lottie #lottiePlayer class="lottiePlayer"
          [options]="options"
          (animationCreated)="animationCreated($event)"
          (load)="animationDataReady()" 
      >
    </ng-lottie> 
  </div>	  
</div>

<div style="height:75vh; z-index:-999"></div>



<div style="height:75vh"></div>

<div #text 
[@flyInOut]="{value: textState, params:{textVH: textPositionTop}}"
style="position: fixed; width: 100%;" 
  [style.top.px]="textPositionTop"
  (@flyInOut.start)="animStart($event)"
  (@flyInOut.done)="animEnd($event)"
>
  <div class="d-flex row align-items-end">
    <div [ngClass]="textPositionLeft" ></div>
    <div class="col-lg-3 col-sm-10 text-center overlay">
      <p>{{currentText}}</p>
    </div>
  </div> 
</div>


<div id="placeholder" [style.height.px]="placeholderHeight" ></div>


</div>