<div *ngIf="animationReady">
  <img src="../../assets/img/bubbles_C_focussed.png" class="front" [style.height.px]="placeholderHeight"/>
  <img src="../../assets/img/bubbles_C_defocussed.png" class="back" [style.height.px]="placeholderHeight"/>
</div>
<!--  -->
<ng-lottie 
    *ngIf="!animationReady"
    @fade 
    class="loader-animation" 
    [options]="loadingAnimationOptions" 
  >
</ng-lottie>

<div class="d-flex row g-0 justify-content-center align-items-center intro">
  <div class="col-lg-4 col-sm-10 text-center overlay">
    <h1 *ngIf="!animationReady" @fade>Loading...</h1>
    <h1 *ngIf="animationReady" @fade>allostery in PROTEIN PHOSPHOTASE 2A </h1>
    <p *ngIf="animationReady" @fade>scroll down to see the animation</p>
  </div>
</div>


<div *ngIf="slimActiveSiteAnimationGo" class="pointerActiveSiteLottie">
  <ng-lottie [options]="slimActiveSiteAnimationOptions" style="position:relative"></ng-lottie>
  <div @fade class="pointerActiveSiteText overlay-pointer" *ngIf="slimActiveSiteAnimationGo"><p>Active site. That's where PP2A removes a phosphate from another protein.</p></div>
</div>

<div *ngIf="slimActiveSiteAnimationGo" class="pointerSlimLottie">
  <ng-lottie [options]="slimActiveSiteAnimationOptions" style="position:relative"></ng-lottie>
  <div @fade class="pointerSlimText overlay-pointer" *ngIf="slimActiveSiteAnimationGo"><p>SLiM binding groove. A substrate protein anchors here before reaching into the acitve site.</p></div>
</div>

<div *ngIf="mutationSitesAnimationGo" class="pointerE198Lottie">
  <ng-lottie [options]="slimActiveSiteAnimationOptions" style="position:relative"></ng-lottie>
  <div @fade class="pointerE198Text overlay-pointer" *ngIf="mutationSitesAnimationGo"><p>E198 can be mutated to K198.</p></div>
</div>

<div @fade *ngIf="mutantsSeparated" style="position: fixed; width: 100%; top:15vh; z-index: 1000;" 
class="d-flex row g-0 justify-content-around">
  <div class="d-flex col-6 text-center overlay-pointer justify-content-center"><h1>Normal</h1></div>
  <div class="d-flex col-6 text-center overlay-pointer justify-content-center" style="color:rgb(255, 0, 106)"><h1>Mutant</h1></div>
</div>



<div class="scrollDist"></div>

<div 
class="d-flex g-0 row justify-content-center align-items-center h-100"
style="position: fixed; width:100%; top: 0px; background-color: #0E2221">
  <ng-lottie 
  class="col-lg-8 col-sm-12 mh-75 lottie-player align-self-center"
        [options]="options"
        height="auto"
        width="auto"
        (animationCreated)="animationCreated($event)"
        (dataReady)="animationDataReady()"
    >
  </ng-lottie>  
</div>



<div #text 
[@flyInOut]="{value: textState, params:{textVH: textPositionTop}}"
style="position: fixed; width: 100%;"
  [style.top.px]="textPositionTop"
  (@flyInOut.start)="animStart($event)"
  (@flyInOut.done)="animEnd($event)"
>
  <div [ngClass]="textContainerClasses" class="d-flex row g-0">
    <div [ngClass]="textPositionLeft" ></div>
    <div class="d-flex col-lg-3 col-sm-12 text-left" 
         style="flex-direction: column; align-items: flex-start;">
          <div><p *ngFor="let text of currentText" class="overlay">{{text}}</p></div>
    </div>
    <div [ngClass]="textPositionRight"></div>
  </div> 
</div>



<div id="placeholder" [style.height.px]="placeholderHeight" style="position:relative" ></div>
<div style="height:75vh; position:relative"></div>
<div class="d-flex row mh-10 justify-content-center" style="z-index: 1000; position: absolute; width: 100vw;">
  <ng-lottie class="up-arrow"  [options]="upArrowOptions" (click)="goToTop()"></ng-lottie>
</div>