
.overlay { 
    z-index: 1000;
    background-color: rgba(100, 100, 100, 0.5);
        color: white;
        padding: 0.5rem 1rem;
    }
p {
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    line-height: 1.688rem;
    font-weight: 400;
    margin: 0px 0px 0px 5px;
    padding: 0.25rem;
}
.wrapper {
    display: flex;
}
.lottie-container {
    background-color: #071514;
    z-index: 0;
    position: fixed;
    height: auto;
    top: 0;
}
.lottie-player {
    background-color: #071514;
    z-index: 0;
    position: fixed;
    height: auto;
    top: 0;
    margin: 20px auto;
    -webkit-mask-image: url("./../../assets/img/animation_mask.png");
    mask-image: url("./../../assets/img/animation_mask.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 90% 90%;
    mask-size: 90% 90%;
    mask-position: 50% 50%;
  }

.front {
    z-index: 30;
    position: fixed;
    width: 100vw;
    height: auto;
    opacity:0.5;
    top: 0;
}
.main {
    z-index: 0;
    position: fixed;
    top: 25px;
    min-width: 100vw;
    min-height: 150vh;
    opacity: 0.5;
}
.scrollDist {
    position: fixed;
    top: 50px;
    height:3000vh;
}
