<nav
  class="
    navbar navbar-default navbar-fixed-top navbar
    card-bordered
    sticky-top
    navbar-expand-lg navbar-light
    bg-alt-lvl2
    pb-0
    pt-0
  "
  ng-controller="HeaderController"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse] id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
	      <a (click)="scroll($event)" class="navbar-brand nav-link" href="#" routerLink="/home">Home </a>
      </li>

      <li class="nav-item" >
        <a (click)="scroll($event)" class="nav-link" href="#work"  >Latest Work&nbsp;</a>
      </li>
      <li class="nav-item" >
        <a (click)="scroll($event)" class="nav-link" routerLink="CV" >CV&nbsp;</a>
      </li>
      <li class="nav-item" >
        <a (click)="scroll($event)" class="nav-link" href="#Pubs">Publications&nbsp;</a>
      </li>
      <li class="nav-item" >
        <a (click)="scroll($event)" class="nav-link" routerLink="/projects" href="#projects"> Projects </a>
      </li>
    </ul>
  </div>
</nav>
