<nav #navbar
  class="
    navbar navbar-default navbar-fixed-top navbar
    card-bordered
    sticky-top
    navbar-expand-lg navbar-light
    bg-alt-lvl2
    pb-0
    pt-0
  "
  ng-controller="HeaderController"
  >
  <button class="navbar-toggler d-lg-none" 
	  type="button" 
	  (click)="collapse.toggle()" 
	  [attr.aria-expanded]="!isCollapsed" 
    aria-controls="navbarSupportedContent"
	  aria-label="Toggle navigation"
aria-expanded="false"
	  >
<!--    data-toggle="collapse"
	data-target="#navbarSupportedContent" -->
  <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarSupportedContent" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <ul  class="navbar-nav d-flex justify-content-center">
      <li class="nav-item"
[routerLinkActive]="['active']" 
[routerLinkActiveOptions]="{ matrixParams: 'exact', queryParams: 'exact', paths: 'exact', fragment: 'exact' }"
>
	      <a  class="navbar-brand nav-link" [routerLink]='["/home"]' 
                  fragment="bio"><b>KIRILL KONOVALOV</b></a>
      </li>
      <span class="sr-only"></span>
      <li class="nav-item" 
[routerLinkActive]="['active']" 
[routerLinkActiveOptions]="{ matrixParams: 'exact', queryParams: 'exact', paths: 'exact', fragment: 'exact' }"
>
        <a class="nav-link" [routerLink]="['/home']"
fragment="work">LATEST WORK</a>
      </li>
      <li class="nav-item" 
[routerLinkActive]="['active']" 
[routerLinkActiveOptions]="{ matrixParams: 'exact', queryParams: 'exact', paths: 'exact', fragment: 'exact' }"
>
        <a  class="nav-link" [routerLink]="['/home']" 
fragment="CV">CV</a>
      </li>
      <li class="nav-item" 
[routerLinkActive]="['active']" 
[routerLinkActiveOptions]="{ matrixParams: 'exact', queryParams: 'exact', paths: 'exact', fragment: 'exact' }"
>
        <a  class="nav-link" routerLink="projects" 
> PROJECTS </a>
      </li>
    </ul>
  </div>
</nav>
