hi asd
<div style="position: fixed; z-index: -999;"><p>help im stuck</p></div>
<div style="height: 1000px; z-index: -999;" *ngFor="let a of [1,2,3]">
  <div>
    <p>....................</p>
    <p>....................</p>
    <p>....................</p>
    <p>....................</p>
    <p>....................</p>
    <p>....................</p>
    <p>....................</p>
    <p>....................</p>
    <p>....................</p>
    <p>....................</p>
  </div>
  <div style="height:200px"></div>
  <div >
    I am sticky but only inside #boundary!
  </div>
  <div style="height:200px"></div>

</div>