.container {
	display: flex;
	height: 100%;
	flex-direction: column;
}
.link {
  text-decoration: none !important;
      }

.img-rounded {
  border-radius: 2%;
}
bio {
  background-image: linear-gradient(rgba(150,150,150,0.5), rgba(245,40,145,0.8));
}

