<!DOCTYPE html>

<div
  id="home"
  class="section container-fluid min-vh-100 justify-content-center"
>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Kirill, PhD, Ape.</h1>
        <p>Bananas, Monkeypox, Life advice</p>
      </div>
    </div>

    <div class="ape">
      <div class="row">
        <div class="ape-jpg col-12 text-center">
          <img
            src="assets/img/ape.png"
            alt="image"
            [ngsReveal]="{ duration: 1000, origin: 'left', distance: '100px' }"
          />
        </div>
      </div>

      <div class="row">
        <div
          class="ape-bio col-12 text-center"
          [ngsReveal]="{ duration: 1000, origin: 'right', distance: '100px' }"
        >
          <h2>About me</h2>
          <p>A short, sturdy creature fond of drink and industry.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div id="work" class="section container min-vh-100 mt-3">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Latest Work</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, et,
        placeat !
      </p>
    </div>
  </div>
  <div class="row" id="pp2a"></div>
</div>

<hr />

<div id="CV" class="section container min-vh-100 mt-3">
  <div class="row">
    <div class="col-12 text-center">
      <h3>CV summary goes here</h3>
      <p>but it's missing</p>
    </div>
  </div>
</div>

<hr />

<div id="Pubs" class="section container min-vh-100 mt-3">
  <div class="col-12 text-center">
    <h3>Publication list</h3>
    <p>but it's missing</p>
  </div>
  <div class="row"></div>
  <hr />
  <div class="row"></div>
</div>

<hr />

<script>
  window.sr = ScrollReveal();
  sr.reveal('.ape-jpg',);
  sr.reveal('.ape-bio', {duration:1000, origin: "right", distance:"100px"});
</script>
