<!DOCTYPE html>

<div id="home" style="align-content: center">
  <div id="bio">
    <div class="d-flex row justify-content-center align-content-center align-items-center flex-wrap mw-50" style="min-height: 75vh">
      <div class="col-lg-2 col-sm-6 col-xs-10 justify-content-right">
        <img
              src="assets/img/headshot.png"
              class="img-fluid img-rounded" 
          />
      </div>
      <div class="col-lg-5 col-sm-6 align-self-center">
        <div class="row">
          <h2>ABOUT ME</h2>
<p>
I specialize in studying complex biomolecular mechanisms through computer simulations. My aptitude lies with physical chemistry, particularly, biophysical models based on methods ranging from quantum mechanics to coarse-grained, with a focus on Markov state models and enhanced sampling. Overall, my work has contributed to our understanding of biophysics of multiple protein systems, specifically, transcription with RNA polymerase II and antibody design. Currently I am a post-doctoral researcher with Xuhui Huang at UW Madison</p>
        </div>
     
        <div class="row align-items-center justify-content-end">
          <div class="col-1">
            <button class="btn btn-outline-secondary">
            <a class="link-secondary" 
               href='https://scholar.google.com/citations?hl=en&user=hPXpdcMAAAAJ' 
               target="_blank">Scholar</a>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

<hr/>

<div id="work" class="section container mh-100 mt-3 mw-50">
  <div class="row text-center">
    <h1>LATEST WORK</h1>
  </div>
  <div class="d-flex row justify-content-center flex-wrap align-items-center">
    <div class="col-lg-6 col-sm-8"> 
      <img class="img-fluid" style="" src="assets/img/pp2a_preview.png"/>
    </div>
    <div class="col-lg-4 col-sm-4"
	    >
<!--        [ngsReveal]="{ duration: 1000, origin: 'right', distance: '100px' }" -->
      <h2>Mutations in PP2A hack its allosteric network</h2>
      <p>
      Mutations in the protein phosphatase 2A, a major cell cycle regulator, cause cancer and intellectual disability. I found that mutations in this protein rewire a communication network underlying its dynamics to exert their harmful effect. <a routerLink="/projects">Learn more...</a>
      </p>
    </div>
  </div>
  <hr/>
  <div class="d-flex row justify-content-center flex-wrap align-items-center">
    <div class="col-lg-8 col-sm-8"> 
      <img class="img-fluid" src="assets/img/5cac_web.png"/>
    </div>
    <div class="col-lg-4 col-sm-4">
      <h2>It takes more than one hydrogen bond to stop a transcribing RNA polymerase II</h2>
      <p>
The RNA polymerase II transcribes almost all protein coding genes in eukaryotes and is very sensitive to modifications of the DNA. By using Markov state models, I found that 5-carboxylcytosine - an epigenetic modification of cytosine - can stop the Pol II by interfering with its internal machinery in suprizingly many ways. <a href="https://www.jbc.org/article/S0021-9258(21)00524-X/fulltext">Learn more...</a>
      </p>
    </div>
  </div>
</div>

<hr />

<div id="CV" class="section container min-vh-100 mt-3">
  <div class="row">
    <div class="col-12 text-center">
      <h1>CURRICULUM VITAE</h1>
      <pdf-viewer src="assets/CV_2023.pdf"
              render-text="true"
              original-size="false"
              style="width: auto; height: 100vh"
      ></pdf-viewer>
    </div>
  </div>
</div>

